header{
	color:#DD571C;

	}

body{
	background-color:black;
}

.logo{
	margin-left:43%;
	width:200px;
	height:10%;
	
}

/*for the navigation bar*/
ul{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	padding-right:50px;
	border:1px solid #7C40FF;
	border-radius:20px;
	padding-top:10px;
	padding-bottom:10px;
}

	
/*for the title "popular" in index.html*/
	
.popular {
	color:#7C40FF;
	text-align:center;
	padding-bottom:20px;
	padding-top:20px;
	}
	
/*for the feedback page*/	
h1{
	color:#7C40FF;
	text-align:center;
	padding-bottom:20px;
	padding-top:20px;
	}

p{
	color:#7C40FF;
}

form input{
	color:black;
	background-color:#7C40FF;
}

.send{
	color:black;
	float:right;
	border-radius:0%;
	width: 200px;
	height:20px;
	margin-right:500px;
	background-color:#DD571C;
	}
	
/*for links*/
a:link {
  color: #DD571C;
  background-color: transparent;
text-decoration: none;

}

a:visited {
  color: #DD571C;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #7C40FF;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: #DD571C;
  background-color: transparent;
  text-decoration: none;
}	

/*for trailers*/	
video{
	float:right;
	border:1px solid #7C40FF;
	width:400px;
	height:200px;
}

#category image{
	width:10%;
	height:10%;
	padding-right:100px;
	padding-bottom:510px;
}

/*css for devices with maximum width of 480 pxels*/
@media (max-width: 480px)
	{
		body {
			display: block;
		
		}
		.logo{
			margin:10px;
		}
		img{
			width:100%;
		}
		ul{
			display:flex;
			flex-direction:column;
		}
		category{
			padding-right:none;
			padding-left:none;
			padding-bottom:none;
			float:left;
		}
	}
	
